#board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    cursor: pointer;
    background-color: grey;
}

